:root {
    --text-announcement: #3d91f4;
}

.body {
    flex: 0.835;
    background-image: -webkit-gradient(linear,left top,left bottom,from(rgba(0,0,0,.6)),to(var(--background-base))),var(--background-noise);
    background-image: linear-gradient(rgba(0,0,0,.5) 0,var(--background-base) 71%),var(--background-noise);
    height: 100vh;
    color: #fff;
    padding: 12px 30px;
    overflow-y: overlay;
}

.body::-webkit-scrollbar {
    display: none;
}

.body__info {
    display: flex;
    align-items: flex-end;
    gap: 24px;
}

.body__info > img {
    height: 16vw;
    box-shadow: 0 4px 60px rgb(0 0 0 / 50%);
}

.body__infoText {
    flex: 1;
    z-index: 1;
}

.body__infoText > strong {
    font-size: 12px;
    text-transform: uppercase;
}

.body__infoText > h2 {
    font-size: 6vw;
    margin-bottom: 10px;
    font-weight: 800;
}

.body__infoText > p{
    font-size: 14px;
}


.songs__icons {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 37px;
} 

.songs__icons > button {
    background-color: transparent;
    border: 1px solid hsla(0,0%,100%,.3);
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #fff;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: .1em;
    line-height: 16px;
    padding: 7px 15px;
    text-align: center;
    text-transform: uppercase;
}

.songs__icons > svg {
    z-index: 1;
}

.body__shuffle {
    font-size: 70px !important;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #1ed15e;
}

.body__shuffle:hover {
    transition: 100ms transform ease-in;
    transform: scale(1.08);
}

.songs__icons > svg {
    fill: hsla(0,0%,100%,.7);
    transition: 0.2s;
}

.songs__icons > svg:hover {
    fill: #fff !important;
}

.headerContainer {
    transition: background-color .25s;
    position: fixed;
    right: 0;
    top: 0;
    left: 244px;
    height: 68px;
    opacity: 0;
    pointer-events: none;
    z-index: 2;
}

.artistCover {
    position: absolute;
    right: 0;
    top: 0;
    height: 350px;
    left: 244px;
    background-repeat: no-repeat;
    background-size: cover;
}

.followersCount {
    font-size: 16px !important;
    line-height: 2;
    margin-top: 25px;
}

.verified {
    -webkit-box-align: center;
    -ms-flex-align: center;
    display: inline-grid;
    align-items: center;
    gap: 8px;
    grid-template-columns: auto 1fr;
}

.verified > svg {
    fill: var(--text-announcement,#0c67d3);
    grid-area: 1/1/2/2;
}

.verified > span {
    font-size: 0.875rem;
}

.verifiedBg {
    grid-area: 1/1/2/2;
    background-color: #fff;
    border-radius: 50%;
    height: 60%;
    justify-self: center;
    width: 60%;
}