.mixItem {
    background: #181818;
    border-radius: 6px;
    transition: background-color .3s ease;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 13px;
    cursor: pointer;
}

.mixItem:hover {
    background-color: rgba(255, 255, 255, 0.087);
}

.itemTop {
    height: 175px;
    width: 100%;
    position: relative;
}

.playButton > svg {
    bottom: 4px;
    -webkit-box-shadow: 0 8px 8px rgb(0 0 0 / 30%);
    box-shadow: 0 8px 8px rgb(0 0 0 / 30%);
    pointer-events: none;
    position: absolute;
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    box-shadow: 0 0 0 rgb(0 0 0 / 30%);
    border-radius: 50%;
    padding: 0;
    opacity: 0;
    right: 4px;
}

.mixItem:hover .playButton > svg {
    opacity: 1;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
}

.mixItem > div > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
}

.mixItem > h4 {
    font-size: 1rem;
    font-weight: 700;
    color: #fff;
}

.mixArtists {
    color: #b3b3b3;
    font-size: 13px;
    font-weight: 400;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}