.sidebar {
    flex: 0.165;
    color: #fff;
    min-width: 220px;
    background-color: #040404;
    padding-left: 10px;
    padding-right: 10px;
}

.sidebar__logo {
    height: 40px;
    max-width: 131px;
    width: 100%;
    padding: 24px 14px;
}

.sidebar__links {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 30px;
}

.sidebar__title {
    padding: 0 16px; 
    font-size: 12px;
}

.sidebar > hr {
    border: 1px solid #282828;
    width: 90%;
    margin: 15px auto;
}

.playlist__items {
    display: flex;
    flex-direction: column;
    gap: 17px;
}

.sidebar__SecondLinks {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 30px;
}